@import "./variables.scss";
@import "./mixins.scss";

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  @include clearfix();
}

.main-content {
  float: left;
  width: 680px;
  margin-right: 20px;
}

.side-content {
  float: left;
  width: 296px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fafafa;
  margin-top: 70px;
  .adv {
    height: 200px;
  }
}