.filters {
  padding: 20px 0;
  text-align: right;
  .sort {
    padding: 5px 20px;
    border: 1px solid #ddd;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: linear-gradient(180deg, #fbfbfb 0%, #efefef 100%);

    .sort__label {
      color: #666666;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
    }
    .sort__text {
      color: #666666;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
    }
    .sort__icon {
    }
  }
}
