@import "./variables.scss";
@import "./mixins.scss";

.header {
  border-bottom: 1px solid #ddd;
  background-color: $bg-subtle-color;
  .header__text {
    padding: 40px 0  60px;
  }
  .header__icon {
  }
  .header__title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
  }
  .header__subtitle {
    color: $text-color-secondary;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: $text-color-secondary;
  }
}
