@import "./variables.scss";
@import "./mixins.scss";

.nav {
  background-color: $brand-color;
  color: white;
  padding: 20px;
  text-align: right;

  .nav__logo {
    float: left;
    height: 30px;
    img {
      max-height: 100%;
    }
  }
}
.user-panel {
  float: right;
  .user-panel__image {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
  }
  .user-panel__name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}
