@import "./variables.scss";
@import "./mixins.scss";

.tab-nav {
  position: relative;
  bottom: -1px;
  .tabs {
    display: inline-block;
  }
  .tab {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
    display: inline-block;
    padding: 10px 40px;
    background: linear-gradient(180deg, #fbfbfb 0%, #efefef 100%);
    &.tab--active {
      border-bottom-color: white;
      background: #ffffff;
      .tab__text {
        color: $brand-color;
      }
      .tab__badge {
        background-color: $brand-color;
        color: white;
      }
    }
    .tab__text {
      display: inline-block;
      vertical-align: middle;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }
    .tab__badge {
      padding: 1px 8px;
      border-radius: 20px;
      display: inline-block;
      vertical-align: middle;
      font-size: 11px;
      line-height: 15px;
      color: #999999;
      background-color: #e3e3e3;
    }
  }
}
.tab__body {
  display: none;
}

.cta-button {
  cursor: pointer;
  float: right;
  background-color: $brand-color;
  color: white;
  line-height: 40px;
  font-size: 12px;
  font-weight: 600;
  padding: 0 30px;
  border: none;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #ffae18 0%, #ffa500 100%);
}
