@import "./variables.scss";
@import "./mixins.scss";

.task {
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  .task__icon {
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
  }
  .task__content {
      display: inline-block;
      vertical-align: middle;
    .task__name {
      color: #333333;
      font-family: Roboto;
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
    }
    .task__description {
      color: rgba(0, 0, 0, 0.54);
      font-family: Roboto;
      font-size: 12px;
      line-height: 16px;
      a {
        color: $brand-color;
        font-family: Roboto;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .task__action {
    float: right;
    border: none;
  }
}
